langchain
langchain-mistralai
langchain-community
sounddevice
python-dotenv
pydantic
soundfile
fastapi
uvicorn
SpeechRecognition
streamlit
langchain
langchain-mistralai
langchain-community
sounddevice
python-dotenv
pydantic
soundfile
fastapi
uvicorn
SpeechRecognition
streamlit
requests
tiktoken
chromadb
faiss-cpu
sentence-transformers
faster-whisper
piper-tts
pyaudio
requests
tiktoken
chromadb
faiss-cpu
sentence-transformers
faster-whisper
piper-tts
pyaudio